   *{
		margin: 5px 5px;
		padding: 10px 10px;
	}
	#search-txt-err{
		color: #6c1b1b;
		margin-left: 30%;
		font-size: 10px;
		background: #dea6b3;
		padding-left: 100px;
		padding-right: 357px;
		padding-bottom:20px;
		box-shadow: lightgreen;
		border-radius: 25px;
	}
	#searching-txt {
		height: 40px;
		width: 100%;
		font-size: 30px;
	}

	body {
		margin: 0px;
		padding: 0px;
	}
	#header {

		height: 50px;
		width: 100%;
		background: #5f5f99;
	}
	#header #header-links {
        float: right;
	}
	#header #header-links a {
		color: white;
	}
	#header  #title {
		color: white;
		margin-left: 30%;
		margin-top: 12px;
		font-size: 35px;
		background: #5f5f99;
	}
	.containerx {
		background: #eee;
		background-image:url(pic1.jpg) ;
		height: 500px;
		width: 100%;

	}
	.containerx .background-image {
		width: 100%;


	}
	#search-txt {
		font-size: 30px;
		margin-left:20% ;
			align-content: center;
			padding-left: 150px;
			padding-right: 150px;
			border-radius: 25px;

	}
	#search-btn{
		font-size: 30px;
		margin-top: 200px;
		margin-left: 0%;
		align-content: center;
		padding-left: 10px;
		padding-right: 10px;
		background: green;
	}
    footer{
	   text-align: center; background:#a9a9e1 ;font-family: fantasy;
	   height: 50px;
    }
    footer p {
	  text-align: center;
	  line-height: 15px;
	  padding-top: 10px;
    }

    #loader {
		height: 50px;
		float: left;
		align-content: center;
		margin-left: 50%;
		margin-right: 250px;
		font-size: larger;
	}
	.process-panel {
		background: #ccd1ef;
		height: 400px;
	}
	img{
		margin-left: 300px;
	}